{{- define "main" }}
  {{- if or (.Params.useTag) (.Params.useCategory)}}
    <header class="collection-header">
      <h1 class="collection-title" {{ if .Site.Params.useElementAnimation }}data-animation="true"{{ end }}>{{ .Title }}</h1>
      {{- if .Description }}
      <div class="collection-description" {{ if .Site.Params.useElementAnimation }}data-animation="true"{{ end }}>
        {{ .Description }}
      </div>
      {{- end }}
    </header>
    {{- if .Params.useCategory }}{{/* category */ -}}
      {{- range $i, $v := $.Site.Taxonomies.categories.ByCount }}
        {{- $name := .Name }}
        {{- $count := .Count }}
        {{- with $.Site.GetPage (printf "/%s/%s" "categories" $name) }}
          <article class="post-entry" title="{{- i18n $name }}" {{ if .Site.Params.useElementAnimation }}data-animation="true" style="animation-duration: 0.2s; animation-delay: {{ (mul (add (mul (add $i 1) 100) 100) 0.001) | lang.NumFmt 2 }}s;"{{ end }}>
            <header class="entry-header">
              <h2>📄 {{ .Name }} <sup><strong><sup>{{ $count }}</sup></strong></sup></h2>
            </header>
            <section class="entry-content">
              <p>{{- i18n $name }}</p>
            </section>
            <a class="entry-link" aria-label="{{ .Name }}" href="{{ .RelPermalink }}"></a>
          </article>
        {{- end }}
      {{- end }}
    {{- else if .Params.useTag }}{{/* tag */ -}}
      {{- range $i, $v := $.Site.Taxonomies.tags.ByCount }}
        {{- $name := .Name }}
        {{- $count := .Count }}
        {{- with $.Site.GetPage (printf "/%s/%s" "tags" $name) }}
          <article class="post-entry" title="{{- i18n $name }}" {{ if .Site.Params.useElementAnimation }}data-animation="true" style="animation-duration: 0.2s; animation-delay: {{ (mul (add (mul (add $i 1) 100) 100) 0.001) | lang.NumFmt 2 }}s;"{{ end }}>
            <header class="entry-header">
              <h2>📄 {{ .Name }} <sup><strong><sup>{{ $count }}</sup></strong></sup></h2>
            </header>
            <section class="entry-content">
              <p>{{- i18n $name }}</p>
            </section>
            <a class="entry-link" aria-label="{{ .Name }}" href="{{ .RelPermalink }}"></a>
          </article>
        {{- end }}
      {{- end }}
    {{- end }}
  {{- else }}{{/* custom */ -}}
    {{ $_useElementAnimation := .Site.Params.useElementAnimation }}
    {{- if .Title }}
      <header class="collection-header">
        <h1 class="collection-title" {{ if $_useElementAnimation }}data-animation="true"{{ end }}>{{ .Title }}</h1>
        {{- if .Description }}
        <div class="collection-description" {{ if $_useElementAnimation }}data-animation="true"{{ end }}>
          {{ .Description }}
        </div>
        {{- end }}
      </header>
    {{- end }}
    {{- range $i, $v := .Params.menu }}
      <article class="post-entry" title="{{ .description }}" {{ if $_useElementAnimation }}data-animation="true" style="animation-duration: 0.2s; animation-delay: {{ (mul (add (mul (add $i 1) 100) 100) 0.001) | lang.NumFmt 2 }}s;"{{ end }}>
        {{- if not .cover.hidden }}
          <figure class="collection-cover">
            <img loading="lazy" src="{{ (.cover.image) | absURL }}" alt="{{ .cover.alt }}">
          </figure>
        {{- end }}
        <header class="entry-header">
          <h2>{{ .title }}</h2>
        </header>
        <section class="entry-content">
          <p>{{ .description }}</p>
        </section>
        <a class="entry-link" aria-label="{{ .title }}" href="{{ .url }}"></a>
      </article>
    {{- end }}
  {{- end }}
{{- end }}{{/* end main */ -}}