{{- define "main" }}

{{- if .Title }}
<header class="page-header">
  <h1>모아보기</h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description }}
  </div>
  {{- end }}
</header>
{{- end }}

<article class="post-entry">
  <header class="entry-header">
    <h2>Effective Java 3/E</h2>
  </header>
  <section class="entry-content">
    <p>Effective Java 3/E 학습하면서 정리한 내용입니다.</p>
  </section>
  <a class="entry-link" aria-label="Effective Java 3/E" href="/tags/effective-java-3/e/"></a>
</article>

<article class="post-entry">
  <header class="entry-header">
    <h2>JPA</h2>
  </header>
  <section class="entry-content">
    <p>자바 퍼시스턴스 API또는 자바 지속성 API(Java Persistence API, JPA)는 자바 플랫폼 SE와 자바 플랫폼 EE를 사용하는 응용프로그램에서 관계형 데이터베이스의 관리를 표현하는 자바 API이다.</p>
  </section>
  <a class="entry-link" aria-label="Effective Java 3/E" href="/tags/jpa/"></a>
</article>

{{- end }}{{/* end main */ -}}
