{{- define "main" }}
<style>
  .header,
  .footer {
    display: none;
  }

  html {
    overflow: auto;
  }
  
  .main {
    text-align: center;
    padding: 70px 0;
  }

  .main h1 {
    margin-bottom: 1rem;
  }

  .links {
    list-style: none;
  }

  .links .button {
    display:inline-block;
    width: 35%;
    padding: 10px 8px;
    margin-bottom: 10px;
  }

  .links .button:hover {
    transition: box-shadow 0.2s ease 0s, transform .1s;
    box-shadow: 0 0 0 1px var(--primary) inset;
    border-radius: var(--radius);
    background: var(--entry);
  }

  .links .button svg {
    width: 1em;
    vertical-align: -3px;
    margin-right: 10px;
  }
</style>
<h1>Links</h1>

<ul class="links">
  {{- range .Params.links }}
    {{- if (and .name .url) }}
    <li>
      <a class="button" href="{{ .url }}" rel="noopener" title="{{ .title }}">
        {{ partial "svg.html" . }}{{ .title }}
      </a>
    </li>
    {{- end }}
  {{- end }}
</ul>
{{- end }}{{/* end main */ -}}