{{- define "main" }}
<header class="page-header">
  <h1 class="search-title" {{ if .Site.Params.useElementAnimation }}data-animation="true"{{- end }}>{{- (printf "%s&nbsp;" .Title ) | htmlUnescape -}}
  </h1>
  {{- if .Description }}
  <div class="search-description" {{ if .Site.Params.useElementAnimation }}data-animation="true"{{- end }}>
    {{ .Description }}
  </div>
  {{- end }}
  {{- if not (.Param "hideMeta") }}
  <div class="post-meta">
    {{- partial "translation_list.html" . -}}
  </div>
  {{- end }}
</header>

<div id="searchbox">
  <input id="searchInput" autofocus placeholder="{{ .Params.placeholder | default (printf "%s ↵" .Title) }}" {{ if .Site.Params.useElementAnimation }}data-animation="true"{{- end }}
    aria-label="search" type="search" autocomplete="off">
  <ul id="searchResults" aria-label="search results"></ul>
</div>
{{- end }}{{/* end main */}}
