{{- define "main" }}
  {{- if .Params.use}}
    <header class="series-header">
      <h1 class="series-title" {{ if .Site.Params.useElementAnimation }}data-animation="true"{{- end }}>{{ .Title }}</h1>
      {{- if .Description }}
      <div class="series-description-wrapper" {{ if .Site.Params.useElementAnimation }}data-animation="true"{{- end }}>
        <h2 class="series-description" {{ if .Site.Params.useElementAnimation }}data-animation="true"{{- end }}>{{ .Description }}</h2>
        <div class="series-sub-description-wrapper" {{ if .Site.Params.useElementAnimation }}data-animation="true"{{- end }}>
          {{- if .Params.subDescription1 }}
          <h4 class="series-sub-description" {{ if .Site.Params.useElementAnimation }}style="animation-delay: 0.65s;" data-animation="true"{{- end }}>{{ .Params.subDescription1 }}</h4>
          {{- end }}
          {{- if .Params.subDescription2 }}
          <h4 class="series-sub-description" {{ if .Site.Params.useElementAnimation }}style="animation-delay: 0.9s;" data-animation="true"{{- end }}>{{ .Params.subDescription2 }}</h4>
          {{- end }}
          {{- if .Params.subDescription3 }}
          <h4 class="series-sub-description" {{ if .Site.Params.useElementAnimation }}style="animation-delay: 1.15s;" data-animation="true"{{- end }}>{{ .Params.subDescription3 }}</h4>
          {{- end }}
        <div>
      </div>
      {{- end }}
      {{- if .Params.cover.image }}
        <figure class="series-cover" {{ if .Site.Params.useElementAnimation }}data-animation="true"{{- end }}>
          <img loading="lazy" src="{{ (.Params.cover.image) | absURL }}" alt="{{ .Params.cover.alt }}">
        </figure>
      {{- end }}
    </header>
    {{- $seriesCover := .Params.seriesCover }}
    {{- range $i, $v := $.Site.Taxonomies.series.ByCount }}
      {{- $name := .Name }}
      {{- $count := .Count }}
      
      {{- with $.Site.GetPage (printf "/%s/%s" "series" $name) }}
        <article class="post-entry series-entry" title="{{- i18n $name }}" {{ if .Site.Params.useElementAnimation }}style="animation-delay: {{ (mul (add (mul (add $i 1) 150) 800) 0.001) | lang.NumFmt 2 }}s;" data-animation="true"{{- end }}>
          {{ $seriesTitle := .Name }}
          {{ $seriesId := index (split .RelPermalink "/") (sub (len (split .RelPermalink "/")) 2) }}
          {{- range where $seriesCover "name" $seriesTitle }}
            {{- if .image }}
              <figure class="series-content-cover">
                <img loading="lazy" src="{{ .image | absURL }}" alt="{{ .alt }}">
              </figure>
            {{- end }}
          {{- end }}

          <header class="entry-header">
            <h2>🗂️ {{ $seriesTitle }} <sup><strong><sup>{{ $count }}</sup></strong></sup></h2>
          </header>
          <section class="entry-content">
            <p>{{- i18n $name }}</p>
          </section>
          
          {{- range $taxonomy_term, $taxonomy := .Site.Taxonomies}}
            {{- if (eq $taxonomy_term "series") }}
              {{- range $key, $value := $taxonomy }}
                {{ if (eq $seriesId $key) }}
                  {{ with (index $value.Pages (sub (len $value.Pages) 1)) }}
                    <a class="entry-link" aria-label="{{ $seriesTitle }}" href="{{ .RelPermalink }}"></a>
                  {{- end }}
                {{- end }}
              {{- end }}
            {{- end }}
          {{- end }}
          
          <ul class="post-tags">
            {{- range $taxonomy_term, $taxonomy := .Site.Taxonomies}}
              {{- if (eq $taxonomy_term "chapter") }}
                {{- range $key, $value := $taxonomy }}
                  {{ $_splitChapter := split $key "-chapter-" }}
                  {{ $_seriesId := index $_splitChapter 0 }}
                  {{ $_chapterNumber := index $_splitChapter 1 }}
                  {{ with (index $value.Pages (sub (len $value.Pages) 1)) }}
                    {{ if (eq $seriesId $_seriesId) }}
                      {{ $_chapterLink := .RelPermalink }}
                      {{- range where $seriesCover "name" $seriesTitle }}
                        {{- range .chapter }}
                          {{- if (eq .id $key) }}
                          <li>
                            <a class="button chapter-link-button" href="{{ $_chapterLink }}">{{ if (eq (i18n "country_code") "en") }}{{ i18n "chapter" }} {{ end }}{{ $_chapterNumber }} {{ if (eq (i18n "country_code") "ko") }}{{ i18n "chapter" }}{{ end }} {{ .title }}</a>
                          </li>
                          {{- end }}
                        {{- end }}
                      {{- end }}
                    {{ end }}
                  {{- end }}
                {{- end }}
              {{- end }}
            {{- end }}
          </ul>
          
        </article>
      {{- end }}
    {{- end }}
  {{- end }}
{{- end }}{{/* end main */ -}}