{{- define "main" }}
  {{- if .Params.use}}
    <header class="series-header">
      <h1 class="series-title" {{ if .Site.Params.useAnimation }}data-animation="true"{{ end }}>{{ .Title }}</h1>
      {{- if .Description }}
      <div class="series-description-wrapper" {{ if .Site.Params.useAnimation }}data-animation="true"{{ end }}>
        <h2 class="series-description" {{ if .Site.Params.useAnimation }}data-animation="true"{{ end }}>{{ .Description }}</h2>
        <div class="series-sub-description-wrapper" {{ if .Site.Params.useAnimation }}data-animation="true"{{ end }}>
          {{- if .Params.subDescription1 }}
          <h4 class="series-sub-description" {{ if .Site.Params.useAnimation }}style="animation-delay: 650ms;" data-animation="true"{{ end }}>{{ .Params.subDescription1 }}</h4>
          {{- end }}
          {{- if .Params.subDescription2 }}
          <h4 class="series-sub-description" {{ if .Site.Params.useAnimation }}style="animation-delay: 900ms;" data-animation="true"{{ end }}>{{ .Params.subDescription2 }}</h4>
          {{- end }}
          {{- if .Params.subDescription3 }}
          <h4 class="series-sub-description" {{ if .Site.Params.useAnimation }}style="animation-delay: 1150ms;" data-animation="true"{{ end }}>{{ .Params.subDescription3 }}</h4>
          {{- end }}
        <div>
      </div>
      {{- end }}
      {{- if .Params.cover.image }}
        <figure class="series-cover" {{ if .Site.Params.useAnimation }}data-animation="true"{{ end }}>
          <img loading="lazy" src="{{ (.Params.cover.image) | absURL }}" alt="{{ .Params.cover.alt }}">
        </figure>
      {{- end }}
    </header>
    {{- $seriesCover := .Params.seriesCover }}
    {{- range $i, $v := $.Site.Taxonomies.series.ByCount }}
      {{- $name := .Name }}
      {{- $count := .Count }}

      {{- with $.Site.GetPage (printf "/%s/%s" "series" $name) }}
        {{ $seriesTitle := .Name }}
        <div class="series-entry-wrapper" {{ if .Site.Params.useAnimation }}style="animation-delay: {{ add (mul (add $i 1) 100) 100 }}ms;" data-animation="true"{{ end }}>
          <article class="series-entry button" title="{{ $seriesTitle }}&#10;{{- i18n $name }}">
            {{ $seriesId := index (split .RelPermalink "/") (sub (len (split .RelPermalink "/")) 2) }}
            {{- range where $seriesCover "name" $seriesTitle }}
              {{- if .image }}
                <figure class="series-content-cover">
                  <img loading="lazy" src="{{ .image | absURL }}" alt="{{ .alt }}">
                </figure>
              {{- end }}
              {{- if .imageSvg }}
                <figure class="series-content-cover">
                  {{ .imageSvg | safeHTML }}
                </figure>
              {{- end }}
              <header class="entry-header">
                <h2>
                  <span class="series-icon">{{- (.seriesIcon | safeHTML) | default "🗂️" }}</span> {{ $seriesTitle }} <sup><strong><sup>{{ $count }}</sup></strong></sup>
                </h2>
              </header>
            {{- end }}
            <section class="entry-content">
              <p>{{- i18n $name }}</p>
            </section>
            {{- range $taxonomy_term, $taxonomy := .Site.Taxonomies}}
              {{- if (eq $taxonomy_term "series") }}
                {{- range $key, $value := $taxonomy }}
                  {{ if (eq $seriesId $key) }}
                    {{ with (index $value.Pages (sub (len $value.Pages) 1)) }}
                      <a class="entry-link" aria-label="{{ $seriesTitle }}" href="{{ .RelPermalink }}"></a>
                    {{- end }}
                  {{- end }}
                {{- end }}
              {{- end }}
            {{- end }}

            <ul class="post-tags horizontal-scroll">
              {{- range $taxonomy_term, $taxonomy := .Site.Taxonomies}}
                {{- if (eq $taxonomy_term "chapter") }}
                  {{- range $key, $value := $taxonomy }}
                    {{ $_splitChapter := split $key "-chapter-" }}
                    {{ $_seriesId := index $_splitChapter 0 }}
                    {{ $_chapterNumber := index $_splitChapter 1 }}
                    {{ with (index $value.Pages (sub (len $value.Pages) 1)) }}
                      {{ if (eq $seriesId $_seriesId) }}
                        {{ $_chapterLink := .RelPermalink }}
                        {{- range where $seriesCover "name" $seriesTitle }}
                          {{- range .chapter }}
                            {{- if (eq .id $key) }}
                            <li class="post-tag" title="{{ if (eq (i18n "country_code") "en") }}{{ i18n "chapter" }} {{ end }}{{ $_chapterNumber | strings.TrimLeft "0" }} {{ if (eq (i18n "country_code") "ko") }}{{ i18n "chapter" }}{{ end }} {{ .title }}&#10;{{ i18n (print $key "-description") }}">
                              <a class="button chapter-link-button" href="{{ $_chapterLink }}">{{ if (eq (i18n "country_code") "en") }}{{ i18n "chapter" }} {{ end }}{{ $_chapterNumber | strings.TrimLeft "0" }} {{ if (eq (i18n "country_code") "ko") }}{{ i18n "chapter" }}{{ end }} {{ .title }}</a>
                            </li>
                            {{- end }}
                          {{- end }}
                        {{- end }}
                      {{ end }}
                    {{- end }}
                  {{- end }}
                {{- end }}
              {{- end }}
            </ul>
          </article>
        </div>
      {{- end }}
    {{- end }}
  {{- end }}
  <script>
    const seriesList_DOMReady = function (callback) {
      document.readyState === "interactive" ||
        document.readyState === "complete" ? callback() : document.addEventListener("DOMContentLoaded", callback);
    };
    seriesList_DOMReady( function () {
      const _seriesTagsWrapper = document.querySelector(".main .series-entry-wrapper .series-entry .post-tags");
      // const _seriesTags = document.querySelectorAll(".main .series-entry-wrapper .series-entry .post-tags a");

      if (_seriesTagsWrapper.scrollWidth > _seriesTagsWrapper.clientWidth) {
        _seriesTagsWrapper.classList.add("linear-gradient-right");
        if (_seriesTagsWrapper.scrollLeft <= 0) {
          _seriesTagsWrapper.classList.remove("linear-gradient-both", "linear-gradient-left");
          _seriesTagsWrapper.classList.add("linear-gradient-right");
        } else if (_seriesTagsWrapper.scrollWidth - _seriesTagsWrapper.clientWidth <= _seriesTagsWrapper.scrollLeft) {
          _seriesTagsWrapper.classList.remove("linear-gradient-both", "linear-gradient-right");
          _seriesTagsWrapper.classList.add("linear-gradient-left");
        } else {
          _seriesTagsWrapper.classList.remove("linear-gradient-left", "linear-gradient-right");
          _seriesTagsWrapper.classList.add("linear-gradient-both");
        }
      }

      if (_seriesTagsWrapper.addEventListener) {
        _seriesTagsWrapper.addEventListener("mousewheel", mouseWheelHandler, false);
        _seriesTagsWrapper.addEventListener("DOMMouseScroll", mouseWheelHandler, false);
      } else {
        _seriesTagsWrapper.attachEvent("onmousewheel", mouseWheelHandler);
      }

      function mouseWheelHandler(e) {
        if (!hasScrollbar(this, "horizontal")) return;
        let _e = window.event || e;
        _e.preventDefault();
        let delta = Math.max(-1, Math.min(1, _e.wheelDelta || -_e.detail));
        animateScrollTo(this, "horizontal", this.scrollLeft -= (delta * 100), 0);
      }

      // let _s, _e, _o = 0;
      // let _d = false;

      const hasScrollbar = (element, direction) => {
        if (direction === "vertical") {
          return (element.scrollHeight === 0 && element.clientHeight === 0) || (element.scrollHeight > element.clientHeight);
        } else if (direction === "horizontal") {
          return (element.scrollWidth === 0 && element.clientWidth === 0) || (element.scrollWidth > element.clientWidth);
        } else { // both
          return ((element.scrollHeight === 0 && element.clientHeight === 0) || (element.scrollHeight > element.clientHeight)) &&
                 ((element.scrollWidth === 0 && element.clientWidth === 0) || (element.scrollWidth > element.clientWidth));
        }
      }

      const animateScrollTo = (element, direction, to, duration) => {
        const start = direction === "vertical" ? element.scrollTop : element.scrollLeft; // vertical, horizontal
        const change = to - start;
        const startDate = +new Date();
        // t = current time
        // b = start value
        // c = change in value
        // d = duration
        const easeInOutQuad = (t, b, c, d) => {
          let t2 = t;
          t2 /= d / 2;
          if (t2 < 1) return (c / 2) * t2 * t2 + b;
          t2 -= 1;
          return (-c / 2) * (t2 * (t2 - 2) - 1) + b;
        };
        const animateScroll = () => {
          const currentDate = +new Date();
          const currentTime = currentDate - startDate;
          if (direction === "vertical") {
            element.scrollTop = parseInt(easeInOutQuad(currentTime, start, change, duration), 10);
          } else {
            element.scrollLeft = parseInt(easeInOutQuad(currentTime, start, change, duration), 10);
          }

          if (currentTime < duration) {
            requestAnimationFrame(animateScroll);
          } else {
            if (direction === "vertical") {
              element.scrollTop = to;
            } else {
              element.scrollLeft = to;
            }
          }
        };
        animateScroll();
      };

      // let prevX = 0;

      // for (let i = 0; i < _seriesTags.length; i++) {
      //   _seriesTags[i].addEventListener("dragstart", (e) => {
      //     _s = e.clientX;
      //   });
      //   _seriesTags[i].addEventListener("drag", (e) => {
      //     _d = _s > e.clientX ? false : true;
      //     if (_d) { // right +
      //       if (_o  < _s - e.clientX) {
      //         _s = e.clientX;
      //       }
      //     } else { // left -
      //       if (_o  > _s - e.clientX) {
      //         _s = e.clientX;
      //       }
      //     }
      //     _d = false;
      //     if (e.clientX <= 0) return;
      //     let _t = _s - e.clientX;
      //     if (prevX != e.clientX) animateScrollTo(_seriesTagsWrapper, "horizontal", _seriesTagsWrapper.scrollLeft + _t, 500);
      //     _o = _t;
      //     prevX = e.clientX;
      //   });
      // }

      // _seriesTagsWrapper.addEventListener("dragstart", (e) => {
      //   if (!hasScrollbar(_seriesTagsWrapper, "horizontal")) return;
      //   _s = e.clientX;
      // });
      // _seriesTagsWrapper.addEventListener("drag", (e) => {
      //   if (!hasScrollbar(_seriesTagsWrapper, "horizontal")) return;
      //   _d = _s > e.clientX ? false : true;
      //   if (_d) { // right +
      //     if (_o  < _s - e.clientX) {
      //       _s = e.clientX;
      //     }
      //   } else { // left -
      //     if (_o  > _s - e.clientX) {
      //       _s = e.clientX;
      //     }
      //   }
      //   _d = false;
      //   if (e.clientX <= 0) return;
      //   let _t = _s - e.clientX;
      //   if (prevX != e.clientX) animateScrollTo(_seriesTagsWrapper, "horizontal", _seriesTagsWrapper.scrollLeft + _t, 50);
      //   _o = _t;
      //   prevX = e.clientX;
      // });

      _seriesTagsWrapper.addEventListener("mouseover", (e) => {
        if (e.target.classList.contains("post-tags")) e.target.parentNode.classList.remove("button");
        if (e.target.classList.contains("post-tag")) e.target.parentNode.parentNode.classList.remove("button");
        if (e.target.classList.contains("chapter-link-button")) e.target.parentNode.parentNode.parentNode.classList.remove("button");
      });
      _seriesTagsWrapper.addEventListener("mouseout", (e) => {
        if (e.target.classList.contains("post-tags")) e.target.parentNode.classList.add("button");
        if (e.target.classList.contains("post-tag")) e.target.parentNode.parentNode.classList.add("button");
        if (e.target.classList.contains("chapter-link-button")) e.target.parentNode.parentNode.parentNode.classList.add("button");
      });

      window.addEventListener("resize", (e) => {
        if (_seriesTagsWrapper.scrollWidth > _seriesTagsWrapper.clientWidth) {
          if (_seriesTagsWrapper.scrollLeft <= 5) {
            _seriesTagsWrapper.classList.remove("linear-gradient-both", "linear-gradient-left");
            _seriesTagsWrapper.classList.add("linear-gradient-right");
          } else if (_seriesTagsWrapper.scrollWidth - _seriesTagsWrapper.clientWidth - 5 <= _seriesTagsWrapper.scrollLeft) {
            _seriesTagsWrapper.classList.remove("linear-gradient-both", "linear-gradient-right");
            _seriesTagsWrapper.classList.add("linear-gradient-left");
          } else {
            _seriesTagsWrapper.classList.remove("linear-gradient-left", "linear-gradient-right");
            _seriesTagsWrapper.classList.add("linear-gradient-both");
          }
        } else {
          _seriesTagsWrapper.classList.remove("linear-gradient-both", "linear-gradient-left", "linear-gradient-right");
        }
      });

      _seriesTagsWrapper.addEventListener("scroll", (e) => {
        if (_seriesTagsWrapper.scrollLeft <= 5) {
          _seriesTagsWrapper.classList.remove("linear-gradient-both", "linear-gradient-left");
          _seriesTagsWrapper.classList.add("linear-gradient-right");
        } else if (_seriesTagsWrapper.scrollWidth - _seriesTagsWrapper.clientWidth - 5 <= _seriesTagsWrapper.scrollLeft) {
          _seriesTagsWrapper.classList.remove("linear-gradient-both", "linear-gradient-right");
          _seriesTagsWrapper.classList.add("linear-gradient-left");
        } else {
          _seriesTagsWrapper.classList.remove("linear-gradient-left", "linear-gradient-right");
          _seriesTagsWrapper.classList.add("linear-gradient-both");
        }
      });
    });
  </script>
{{- end }}{{/* end main */ -}}