{{- define "main" }}
  {{- if .Params.use}}
    <header class="page-header">
      <h1>{{ .Title }}</h1>
      {{- if .Description }}
      <div class="post-description">
        <h2 class="series-description">{{ .Description }}</h2>
        <div class="series-sub-description-wrapper">
          {{- if .Params.subDescription1 }}
          <h4 class="series-sub-description">{{ .Params.subDescription1 }}</h4>
          {{- end }}
          {{- if .Params.subDescription2 }}
          <h4 class="series-sub-description">{{ .Params.subDescription2 }}</h4>
          {{- end }}
          {{- if .Params.subDescription3 }}
          <h4 class="series-sub-description">{{ .Params.subDescription3 }}</h4>
          {{- end }}
        <div>
      </div>
      {{- end }}
      {{- if .Params.cover.image }}
        <figure class="series-cover">
          <img loading="lazy" src="{{ (.Params.cover.image) | absURL }}" alt="{{ .Params.cover.alt }}">
        </figure>
      {{- end }}
    </header>
    {{- $seriesCover := .Params.seriesCover }}
    {{- range $.Site.Taxonomies.series.ByCount }}
      {{- $name := .Name }}
      {{- $count := .Count }}



      


      {{- with $.Site.GetPage (printf "/%s/%s" "series" $name) }}
        <article class="post-entry" title="{{- i18n $name }}">
          {{ $seriesTitle := .Name }}
          {{- range where $seriesCover "name" $seriesTitle }}
            <figure class="series-content-cover">
              <img loading="lazy" src="{{ .image | absURL }}" alt="{{ .alt }}">
            </figure>
          {{- end }}

          <header class="entry-header">
            <h2>🗂️ {{ $seriesTitle }} <sup><strong><sup>{{ $count }}</sup></strong></sup></h2>
          </header>
          <section class="entry-content">
            <p>{{- i18n $name }}</p>
          </section>
          <a class="entry-link" aria-label="{{ $seriesTitle }}" href="{{ .Permalink }}"></a>
        


          <ul class="post-tags">
            {{- range $.Site.Taxonomies.chapter.Alphabetical }}
              {{ $splitChapter := split .Name "chapter" }}

              {{ $seriesId := substr (index $splitChapter 0) 0 -1 }}
              {{ $chapterNumber := substr (index $splitChapter 1) 1 }}

              {{- if (eq $seriesId $name) }}
                
                  {{- range where $seriesCover "name" $seriesTitle }}
                    {{- range .chapter }}
                      {{- if (eq .number (int $chapterNumber)) }}
                      <li>
                        <a class="button" href="/chapter/{{ $seriesId }}-chapter-{{ .number }}">Ch.{{ .number }} {{ .title }}</a>
                      </li>
                      {{- end }}
                    {{- end }}
                  {{- end }}
                
              {{- else }}
            
              {{- end }}

            {{- end }}

          </ul>
        </article>
      {{- end }}


      




    {{- end }}
    
  {{- end }}
{{- end }}{{/* end main */ -}}