{{- define "main" }}
<article class="post-single">
  <header class="post-header">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="post-title" {{ if .Site.Params.useAnimation }}data-animation="true"{{ end }}>
      {{ .Title }}
      {{- if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{- end }}
    </h1>
    {{- if .Description }}
    <div class="post-description" {{ if .Site.Params.useAnimation }}data-animation="true"{{ end }}>
      {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta" {{ if .Site.Params.useAnimation }}data-animation="true"{{ end }}>
      {{- partial "post_meta.html" . -}}
      {{- partial "translation_list.html" . -}}
      {{- partial "edit_post.html" . -}}
      {{- partial "post_canonical.html" . -}}
      {{- partial "post_font_size_button.html" . -}}
      {{- partial "post_tags.html" . -}}
    </div>
    {{- end }}
  </header>

  {{- partial "post_series.html" . }}

  {{- $isHidden := .Params.cover.hidden | default .Site.Params.cover.hiddenInSingle | default .Site.Params.cover.hidden }}
  {{- partial "cover.html" (dict "cxt" . "IsHome" false "isHidden" $isHidden) }}
  {{- if (.Param "ShowToc") }}
  {{- partial "toc.html" . }}
  {{- end }}
  {{- if (.Param "showAsideToc") }}
  {{- partial "toc-aside.html" . }}
  {{- end }}

  {{- if .Content }}
  <div class="post-content" {{ if .Site.Params.useAnimation }}data-animation="true"{{ end }}>
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  <footer class="post-footer" {{ if .Site.Params.useAnimation }}data-animation="true"{{ end }}>
    {{- if (.Param "ShowCreativeCommons") }}
    {{- partial "creative_commons.html" . }}
    {{- end }}
    {{- partial "post_tags.html" . -}}
    {{- if (.Param "ShowPostNavLinks") }}
    {{- partial "post_nav_links.html" . }}
    {{- end }}
    {{- if (and .Site.Params.ShowShareButtons (ne .Params.disableShare true)) }}
    {{- partial "share_icons.html" . -}}
    {{- end }}
  </footer>

  {{- if (.Param "comments") }}
  {{- partial "comments.html" . }}
  {{- end }}
</article>
<script>
  const DOMReady = function (callback) {
    document.readyState === "interactive" ||
      document.readyState === "complete" ? callback() : document.addEventListener("DOMContentLoaded", callback);
  };
  DOMReady( function () {
    let currentScroll = 0;
    const header = document.querySelector("header.header");
    const postHeaderEl = document.querySelector(".post-header");

    const scrollUp = "scroll-up";
    const scrollDown = "scroll-down";
    const headerBottom = "header-bottom";

    let lastScroll = 0;
    window.addEventListener("scroll", () => {
      currentScroll = window.pageYOffset;
      if (currentScroll <= 0) {
        if (!header.classList.contains(scrollUp) || header.classList.contains(headerBottom)) {
          header.classList.remove(headerBottom);
          header.classList.remove(scrollDown);
          header.classList.add(scrollUp);
        }
      } else {
        if (!header.classList.contains(headerBottom)) {
          header.classList.add(headerBottom);
        }
        
        const postHeaderOffsetHeight = (postHeaderEl.offsetHeight + postHeaderEl.offsetTop + postHeaderEl.offsetParent.offsetTop - 1);
        if (currentScroll > postHeaderOffsetHeight) {
          if (currentScroll > lastScroll) {
            // down
            if (header.classList.contains(scrollUp)) {
              header.classList.remove(scrollUp);
              header.classList.add(scrollDown);
            }
          } else if (currentScroll < lastScroll) {
            // up
            if (header.classList.contains(scrollDown)) {
              header.classList.remove(scrollDown);
              header.classList.add(scrollUp);
            }
          }
        }
      }
      lastScroll = currentScroll;
    });
  });
</script>
{{- end }}{{/* end main */}}
