@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.first-entry { min-height: 0; }

header.header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: inherit;
    border-bottom: 1px solid rgb(225, 225, 225);
    transition: transform 0.2s ease-in-out;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
}

.header .nav .logo a img {
    background: var(--tertiary);
    border-radius: 5px;
    padding: 0.05rem;
}

.main {
    max-width: calc(var(--main-width) + var(--gap) * 5);
}

.main .post-entry {
    padding-bottom: 1rem;
}

.main .toc.aside .inner {
    padding-bottom: 0;
}

.main .page-footer .pagination a {
    border-radius: 8px;
}

.scroll-down {
    transform: translate3d(0, -100%, 0);
}

.scroll-up {
    transform: none;
}

@media (min-width: 1301px) {
    .main .toc.aside {
        width: 270px;
        margin-left: 4rem;
        border-left: 2px solid rgb(233, 236, 239);
        border-right: 2px solid rgb(233, 236, 239);
        border-top: 2px solid rgb(233, 236, 239);
        border-bottom: 2px solid rgb(233, 236, 239);
        padding: 0.25rem 0.75rem;
        color: rgb(134, 142, 150);
        line-height: 1.5;
        font-size: 0.875rem;
        max-height: calc(100vh - 128px);
        overflow: hidden auto;
        z-index: 2;
    }

    .main .toc.aside li ul {
        margin-inline-start: 12px;
    }
    
    .main .toc.aside ul {
        list-style: none;
        padding-left: 0;
        min-width: 240px;
    }
    
    .main .toc.aside summary, main .toc.aside .inner {
        padding-left: 0;
        margin-left: 0;
        padding-right: 0;
        margin-right: 0;
    }

    @keyframes fade-in {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

    .toc.aside.reveal {
        display: block;
        position: fixed;
        top: 112px;
        left: 75%;
        animation: fade-in 0.3s;
        /* animation-fill-mode: forwards; */
    }
    
    .toc.aside.hide {
        display: none;
    }
    
    .toc-select {
        display: block;
        transition: all 0.125s ease-in 0s;
        color: rgb(33, 37, 41);
        transform: scale(1.05);
    }

    .toc-select>a {
        color: #3b86a0;
    }
    
    .toc-non-select {
        display: block;
        transition: all 0.125s ease-in 0s;
    }
    
    .toc-select + .toc-non-select {
        margin-top: 4px;
    }

    .top-link {
        border-radius: 7px;
        bottom: 30px;
        right: 30px;
    }
}

@media (max-width: 1300px) {
    .main .toc.aside {
        display: none;
    }

    .top-link {
        border-radius: 7px;
        bottom: 25px;
        right: 25px;
    }
}

.post-header>.post-title {
    margin-bottom: 2.5rem;
}

.post-tags a {
    padding-inline-start: 8px;
    padding-inline-end: 8px;
    font-size: 12px;
    line-height: 25px;
}

.post-footer .post-license-info {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 0px 1.5rem 0px;
    padding: 1.5em 5px;
    border: 1px solid rgb(225, 225, 225);
}

.post-footer .post-license-info .license-descript {
    font-size: 17px;
    margin: 5px 5px 0px 5px;
}

.post-footer .post-license-info a, .footer a {
    transition: color 0.2s ease 0s;
}

.post-footer .post-license-info a:hover, .footer a:hover {
    color: rgb(0, 151, 202);
}

.footer a {
    font-weight: bold;
    border: none;
}

.footer a:hover {
    border: none;
}