@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.first-entry { min-height: 0; }

header.header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: inherit;
    opacity: 0.95;
    border-bottom: 1px solid var(--primary);
    transition: transform 0.2s ease-in-out;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased;
}

.header .nav .logo a img {
    background: var(--tertiary);
    border-radius: 5px;
    padding: 1px;
}

.main {
    max-width: calc(var(--main-width) + var(--gap) * 5);
}

.main .post-entry:hover,
.main .archive-entry:hover {
    transition: box-shadow 0.2s ease 0s, transform .1s;
    box-shadow: 0 0 0 1px var(--primary) inset;
    border-radius: var(--radius);
}

.header .nav #theme-toggle #sun {
    color: #a30000;
}

.header .nav #theme-toggle #moon {
    color: #666666;
}

.post-footer .post-license-info a:hover,
.footer a:hover,
.post-tags a:hover,
.terms-tags a:hover,
.header .nav #menu a:hover,
.header .nav .logo a:hover,
.entry-footer .social-icons a:hover
{
    transition: color 0.2s ease 0s;
    color: rgb(0, 151, 202);
}

.main .post-single .post-footer .share-buttons .twitter:hover {
    transition: color 0.2s ease 0s;
    color: #00acee;
}
.main .post-single .post-footer .share-buttons .linkedin:hover {
    transition: color 0.2s ease 0s;
    color: #0e76a8;
}
.main .post-single .post-footer .share-buttons .reddit:hover {
    transition: color 0.2s ease 0s;
    color: #be3300;
}
.main .post-single .post-footer .share-buttons .facebook:hover {
    transition: color 0.2s ease 0s;
    color: #3b5998;
}
.main .post-single .post-footer .share-buttons .whatsapp:hover {
    transition: color 0.2s ease 0s;
    color: #389642;
}
.main .post-single .post-footer .share-buttons .telegram:hover {
    transition: color 0.2s ease 0s;
    color: #30a3e6;
}

.main .post-entry {
    padding-bottom: 1rem;
}

.main .page-footer .pagination a {
    border-radius: 8px;
}

.scroll-down {
    transform: translate3d(0, -100%, 0);
}

.scroll-up {
    transform: none;
}

@media (min-width: 1301px) {
    .main .toc.aside {
        width: 282px;
        margin-left: 4rem;
        border: 2px solid var(--border);
        padding: 0.25rem 0.75rem;
        font-size: 0.875rem;
        max-height: calc(100vh - 128px);
        overflow: hidden auto;
        z-index: 2;
        box-shadow: 2px 2px 2px var(--primary);
    }

    .main .toc.aside li ul {
        margin-inline-start: 12px;
    }
    
    .main .toc.aside details .inner ul:first-child ~ * {
        margin-top: 0.7rem
    }

    .main .toc.aside ul {
        list-style: none;
        padding-left: 0;
        min-width: 240px;
    }
    
    .main .toc.aside summary, main .toc.aside .inner {
        padding-left: 0;
        margin-left: 0;
        padding-right: 0;
        margin-right: 0;
    }

    @keyframes fade-in {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }

    .toc.aside.reveal {
        display: block;
        position: fixed;
        top: 112px;
        left: 75%;
        animation: fade-in 0.3s;
    }
    
    .toc.aside.hide {
        display: none;
    }
    
    .toc.aside details .inner .selected {
        display: block;
        transition: all 0.125s ease-in 0s;
        transform: scale(1.05);
    }

    .toc.aside details .inner .selected>a {
        color: #4fb4d7;
    }
    
    .toc.aside details .inner .non-selected {
        display: block;
        transition: all 0.125s ease-in 0s;
    }
    
    .toc.aside details .inner .selected + .toc.aside details .inner .non-selected {
        margin-top: 4px;
    }

    .main .toc.aside summary {
        position: fixed;
        top: 75px;
        left: 75%;
        margin-left: 66px;
        font-size: 1.1rem;
    }

    .top-link {
        border-radius: 7px;
        bottom: 30px;
        right: 30px;
    }
}

@media (max-width: 1300px) {
    .main .toc.aside {
        display: none;
    }

    .top-link {
        border-radius: 7px;
        bottom: 25px;
        right: 25px;
    }
}

.post-header>.post-title {
    margin-bottom: 2.5rem;
}

.post-tags a {
    position: relative;
    z-index: 1;
    padding-inline-start: 8px;
    padding-inline-end: 8px;
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    padding-bottom: 2px;
}

.terms-tags a {
    padding-bottom: 0.7rem;
    padding-left: 1rem;
}

.post-footer .post-license-info {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 0px 1.5rem 0px;
    padding: 1.5em 5px;
    border: 1px solid var(--primary);
    border-radius: var(--radius);
}

.post-footer .post-license-info .license-descript {
    font-size: 17px;
    margin: 5px 5px 0px 5px;
}

.footer a {
    font-weight: bold;
    border: none;
}

.footer a:hover {
    border: none;
}