{{- /* creative commons area start */ -}}
{{- /* creative commons read => https://creativecommons.org/licenses/by-sa/4.0/ */ -}}
<div class="post-license-info">
  <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/deed.ko" target="_blank">
    <img alt="Attribution-ShareAlike 4.0 International" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png">
  </a>
  <div class="license-descript"{{ if (eq (i18n "country_code") "en") }} style="font-size: 1.35rem;"{{ end }}>
    {{ i18n "creative_commons" | safeHTML }}
  </div>
</div>
{{- /* creative commons area end */ -}}
