{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* custom.js */}}
{{- partial "google_analytics.html" . -}}

{{- $custom := false }}
{{- $ShareButtons := (.Param "ShareButtons")}}
{{- with $ShareButtons }}{{ $custom = true }}{{ end }}
{{- if and (cond ($custom) (in $ShareButtons "kakaotalk") (true)) .Site.Params.kakaoJavaScriptKey }}
<script async src="{{ .Site.Params.kakaoSdkUrl }}"></script>
<script>
    Kakao.init("{{ .Site.Params.kakaoJavaScriptKey }}");
</script>
{{- end }}
{{- /* Head custom content area end */ -}}
