{{- /* theme-toggle is enabled */}}
{{- if (not .Site.Params.disableThemeToggle) }}
{{- /* theme is light */}}
{{- if (eq .Site.Params.defaultTheme "light") }}
<script>
    if (localStorage.getItem("pref-theme") === "dark") {
        document.body.classList.add('dark');
    }

</script>
{{- /* theme is dark */}}
{{- else if (eq .Site.Params.defaultTheme "dark") }}
<script>
    if (localStorage.getItem("pref-theme") === "light") {
        document.body.classList.remove('dark')
    }

</script>
{{- else }}
{{- /* theme is auto */}}
<script>
    if (localStorage.getItem("pref-theme") === "dark") {
        document.body.classList.add('dark');
    } else if (localStorage.getItem("pref-theme") === "light") {
        document.body.classList.remove('dark')
    } else if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark');
    }

</script>
{{- end }}
{{- /* theme-toggle is disabled and theme is auto */}}
{{- else if (and (ne .Site.Params.defaultTheme "light") (ne .Site.Params.defaultTheme "dark"))}}
<script>
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.body.classList.add('dark');
    }
</script>
{{- end }}

<header class="header header-bottom">
    <nav class="nav">
        <div class="logo">
            {{- $label_text := (.Site.Params.label.text | default .Site.Title) }}
            {{- if .Site.Title }}
            <a href="{{ "" | absLangURL }}" accesskey="h" title="{{ $label_text }} (Alt + H)">
                {{- if .Site.Params.label.icon }}
                <img src="{{- .Site.Params.label.icon -}}" alt="logo" aria-label="logo"
                    height="{{- .Site.Params.label.iconHeight | default " 30px" -}}">
                {{- end -}}
                {{- if .Site.Params.label.iconSvg }}
                {{- .Site.Params.label.iconSvg | safeHTML -}}
                {{- end -}}
                {{- $label_text -}}
            </a>
            {{- end }}
            <span class="logo-switches">
                {{- if (not .Site.Params.disableThemeToggle) }}
                <button id="theme-toggle" accesskey="t" title="(Alt + T)">
                    <svg id="moon" enable-background="new 0 0 32 32" version="1.1" viewBox="0 0 32 32" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Layer_2"/><g id="Layer_3"/><g id="Layer_4"/><g id="Layer_5"/><g id="Layer_6"/><g id="Layer_7"/><g id="Layer_8"/><g id="Layer_9"/><g id="Layer_10"/><g id="Layer_11"/><g id="Layer_12"/><g id="Layer_13"/><g id="Layer_14"/><g id="Layer_15"/><g id="Layer_16"/><g id="Layer_17"/><g id="Layer_18"/>
                        <g id="Layer_19">
                            <g>
                                <g>
                                    <path d="M30.9,20.8c-2.2,6.1-8,10.2-14.5,10.2C7.9,31,1,24.2,1,15.8C1,8.7,5.9,2.6,12.9,1c0.3-0.1,0.7,0,1,0.3 c0.2,0.3,0.3,0.7,0.2,1c-0.5,1.4-0.8,2.9-0.8,4.4c0,7.3,6,13.2,13.4,13.2c1,0,2.1-0.1,3.1-0.4c0.3-0.1,0.7,0,1,0.3 C31,20.1,31.1,20.5,30.9,20.8z" fill="#FFC10A"/>
                                </g>
                            </g>
                        </g>
                        <g id="Layer_20"/><g id="Layer_21"/><g id="Layer_22"/><g id="Layer_23"/><g id="Layer_24"/><g id="Layer_25"/><g id="Wearher"/>
                    </svg>
                    <svg id="sun" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32" d="M256 48v48M256 416v48M403.08 108.92l-33.94 33.94M142.86 369.14l-33.94 33.94M464 256h-48M96 256H48M403.08 403.08l-33.94-33.94M142.86 142.86l-33.94-33.94"/>
                        <circle cx="256" cy="256" r="80" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32"/>
                    </svg>
                </button>
                {{- end }}

                {{- $lang := .Lang}}
                {{- $separator := or $label_text (not .Site.Params.disableThemeToggle)}}
                {{- with $.Site.Home.AllTranslations }}
                <ul class="lang-switch">
                    {{- if $separator }}<li>|</li>{{ end }}
                    {{- range . -}}
                    {{- if ne $lang .Lang }}
                    <li>
                        <a href="{{- .Permalink -}}" title="{{ .Language.Params.languageAltTitle | default (.Language.LanguageName | emojify) | default (.Lang | title) }}"
                            aria-label="{{ .Language.LanguageName | default (.Lang | title) }}">
                            {{- if (and $.Site.Params.displayFullLangName (.Language.LanguageName)) }}
                            {{- .Language.LanguageName | emojify -}}
                            {{- else }}
                            {{- .Lang | title -}}
                            {{- end -}}
                        </a>
                    </li>
                    {{- end -}}
                    {{- end}}
                </ul>
                {{- end }}
            </span>
        </div>
        {{- $currentPage := . }}
        <button id="menu-trigger" aria-haspopup="menu" aria-label="Menu Button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
                <line x1="3" y1="12" x2="21" y2="12"></line>
                <line x1="3" y1="6" x2="21" y2="6"></line>
                <line x1="3" y1="18" x2="21" y2="18"></line>
            </svg>
        </button>
        <ul id="menu" class="main-menu hidden">
            {{- range .Site.Menus.main }}
            {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
            {{- $page_url:= $currentPage.Permalink | absLangURL }}
            {{- $is_search := eq ($.Site.GetPage .KeyName).Layout `search` }}
            <li>
                <a href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }} {{- cond $is_search (" (Alt + /)" | safeHTMLAttr) ("" | safeHTMLAttr ) }}"
                {{- cond $is_search (" accesskey=/" | safeHTMLAttr) ("" | safeHTMLAttr ) }}>
                    <span {{- if eq $menu_item_url $page_url }} class="active" {{- end }}>
                        {{- .Pre }}
                        {{- .Name -}}
                        {{ .Post -}}
                    </span>
                </a>
            </li>
            {{- end }}
        </ul>
    </nav>
</header>
<script>
    let b = document.querySelector("#menu-trigger");
    let m = document.querySelector("#menu");
    b.addEventListener("click", function () {
        m.classList.toggle("hidden");
    });
    document.body.addEventListener("click", function (a) {
        b.contains(a.target) || m.classList.add("hidden");
    });
</script>

<script>
    function loding_indicator (_state, _target) {
        if (_state === true) {
            const _wrapper = document.createElement("div");
            _wrapper.id = "loading-indicator";
            _wrapper.innerHTML = '<div class="spinner"></div>';
            _target.parentNode.insertBefore(_wrapper, _target.nextSibling);
        } else {
            const _el = document.getElementById("loading-indicator");
            _el.classList.add("scale-zero");
            //_el.parentNode.removeChild(_el);
        }
    }
</script>

{{- if (.Param "showContentProgressbar") }}
<script>
    const header_DOMReady = function (callback) {
        document.readyState === "interactive" ||
            document.readyState === "complete" ? callback() : document.addEventListener("DOMContentLoaded", callback);
    };
    header_DOMReady( function () {
        function updateScrollProgressBar () {
            let scrollHeight = _root.scrollHeight - heightInViewport(_progressbar) - window.innerHeight;
            let scrollPosition = window.pageYOffset;
            let scrollPercentage = scrollPosition / scrollHeight * 100;
            _progressbar.style.width = scrollPercentage + "%";
        }

        function heightInViewport (el) {
        var elH = el.offsetHeight,
            H = document.body.offsetHeight,
            r = el.getBoundingClientRect(),
            t = r.top,
            b = r.bottom;
        return Math.max(0, t > 0 ? Math.min(elH, H - t) : Math.min(b, H));
        }

        const _root = document.querySelector("html");
        const _body = document.querySelector("body");
        const progressEl = document.createElement("div");
        progressEl.classList.add("progress-bar-container__progress");
        _body.prepend(progressEl);

        const _progressbar = document.querySelector(".progress-bar-container__progress");
        const _config = { childList: true, subtree: true, characterData: true, attributes: true };
        new MutationObserver(updateScrollProgressBar).observe(_progressbar, _config);

        window.addEventListener("scroll", () => {
            updateScrollProgressBar();
        });
    });
</script>
{{- end }}