{{- with $.Site.Params.homeInfoParams }}
  {{- if .ProfilePicture1 }}
    <div class="first-entry-wrapper" style="display: flex;">
      <article class="first-entry home-info">
        <header class="entry-header">
          <h1>{{ .Title | markdownify }}</h1>
        </header>
        <section class="entry-content">
          <p>{{ .Content | markdownify }}</p>
        </section>
        <footer class="entry-footer">
          {{ partial "social_icons.html" $.Site.Params.socialIcons }}
        </footer>
      </article>

      <aside class="entry-aside profile-picture first">
        <img loading="lazy" src="{{ .ProfilePicture1 | absURL }}"/>
      </aside>
      {{- if .ProfilePicture2 }}
        <aside class="entry-aside profile-picture second">
          <img loading="lazy" src="{{ .ProfilePicture2 | absURL }}"/>
        </aside>
        {{- if .ProfilePicture3 }}
          <aside class="entry-aside profile-picture third">
            <img loading="lazy" src="{{ .ProfilePicture3 | absURL }}"/>
          </aside>
        {{- end -}}
      {{- end -}}
    </div>
  {{- else -}}
    <article class="first-entry home-info">
      <header class="entry-header">
        <h1>{{ .Title | markdownify }}</h1>
      </header>
      <section class="entry-content">
        <p>{{ .Content | markdownify }}</p>
      </section>
      <footer class="entry-footer">
        {{ partial "social_icons.html" $.Site.Params.socialIcons }}
      </footer>
    </article>
  {{- end -}}
{{- end -}}
